body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1000px;
  min-height: 100%;
  position: relative;
  z-index: -10000;
}

#header {
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
}

#header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-transform: uppercase;
  font-size: 75%;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: none
}

#header a:hover {
  background-color:;
  color: #006921;
}

@media all and (max-width: 520px) {
  #header {
    width: 50%;
    min-width: 100px;
    display: block;
    text-align: center;
  }

  #header a {
    margin: auto;
  }

  .section {
    width: 90%;
  }
}

.section {
  background-color: #ddd;
  margin: auto;
  margin-top: 100px;
  max-width: 500px;
  padding: 30px 10px;

  /*notched corners*/
  --notchSize: 30px;
  clip-path:
  polygon(
  0% var(--notchSize),
  var(--notchSize) 0%,
  calc(100% - var(--notchSize)) 0%,
  100% var(--notchSize),
  100% calc(100% - var(--notchSize)),
  calc(100% - var(--notchSize)) 100%,
  var(--notchSize) 100%,
  0% calc(100% - var(--notchSize))
  );
}

.section h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  text-align: center;
}

.entry {
  padding: 15px;
  margin-bottom: 10px;
}

.entry h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #006921;
  margin: 20px 0px 5px;
  padding: 0px;
}

.entry p {
  font-family: 'Lora', sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  text-align: justify;
}

.entry a {
  color: #006921;
  margin: 20px 0px 5px;
  padding: 0px;
}

.entry a:hover {
  color: #000;
}

#paper {
  font-family: 'Lora', sans-serif;
  font-size: 12pt;
  padding: 0rem 0 18rem 0;
  margin-left: 15rem;
  margin-right: 4rem;
}

#title, aside {
  display: block;
  float: left;
  position: absolute;
  margin-left: 0;
  left: 2.5rem;
  width: calc(2.5rem*3);
  text-align: right;
  clear: both;
  margin-bottom: 1rem;
}

#title > h1 {
  margin-bottom: 2em;
  border-top: solid 3px #333;
  font-weight: normal;
}

#paper h2 {
  font-family: 'Montserrat';
  font-weight: bold;
}

aside > img {
  max-width: 10rem;
}

p > a {
  text-decoration: none;
  color: #006921;
}

p > a:hover {
  text-decoration: underline;
}

p > a:active {
  color: #777;
}
